<!DOCTYPE html>
<html>
  <%- include('./components/header'); -%>
  <body>
    <div id='root'>
      <%- include('./components/nav'); -%>
    </div>
  </body>
  <%- include('./components/scripts'); -%>
</html>
