<!DOCTYPE html>
<html>
  <%- include('./components/header'); -%>
  <link rel='stylesheet' href='/stylesheets/form.css' />
  <body>
    <div class="min-vh-100 d-flex justify-content-center align-items-center">
      <form id='form' class="d-flex flex-column shadow p-4 mb-5 bg-white rounded">
        <p class="text-center font-weight-bold" style="font-size: 16px;">Let's bring you some good vibes 💕</p>
        <!-- email -->
        <div class="form-group">
          <label for="email">😇 Your email: </label>
          <input type="email" class="form-control form-control-sm" id="email" aria-describedby="emailHelp">
        </div>
        <!-- password -->
        <div class="form-group">
          <label for="password">😇 Enter your password: </label>
          <input type="password" class="form-control form-control-sm" id="password">
        </div>
        <button type="submit" class="btn btn-outline-success w-25 align-self-center">🎉 login!</button>
      </form>
  </body>
  <%- include('./components/scripts'); -%>
</html>
