<!DOCTYPE html>
<html>
  <%- include('./components/header'); -%>
  <link rel='stylesheet' href='/stylesheets/upload.css' />
  <body>
    <div id='root'>
      <%- include('./components/nav'); -%>
      <div class='position-absolute fixed-top d-flex flex-column min-vh-100 justify-content-center align-items-center' style="z-index: 0;">
        <form id='form' class="d-flex flex-column shadow p-4 mb-5 bg-white rounded" action="/users/upload" method="POST" enctype="multipart/form-data">
          <p class="text-center font-weight-bold" style="font-size: 16px;">Let's share some good vibes 💕</p>
          <!-- text -->
          <div class="form-group">

            <label for="text">💕 Your text: </label>
            <textarea class="form-control form-control-sm" name="text" rows="2" maxlength="240"></textarea>

          </div>
          <!-- image -->
          <div class="form-group">
            <div class="custom-file">
              <label class="custom-file-label" for="image">💕 choose an image</label>
              <input type="file" class="custom-file-input" name="myImage" accept="image/*">
            </div>
          </div>
          <div class="form-group">
            <label for="category">💕 pick a category: </label>

            <select class="custom-select" id="category" name="type">
              <option selected>Open this select menu</option>

              <option value="Animals">Animals</option>
              <option value="Babies">Babies</option>
              <option value="Memes">Memes</option>
              <option value="Motivation">Motivation</option>
              <option value="Quotes">Quotes</option>
              <option value="Random">Random</option>
              <option value="Story">Story</option>
              <option value="Thought">Thought</option>
            </select>
          </div>
          <div class="d-flex flex-column align-self-center w-100 justify-content-center align-items-center">
            <button type="submit" class="btn btn-outline-success align-self-center mt-4">🎉 Upload!</button>

          </div>
        </form>
      </div>
    </div>
  </body>
  <%- include('./components/scripts'); -%>
</html>
  