<!DOCTYPE html>
<html>
<head>
	<title>Image Captioning</title>
</head>
<body>
	<div>
		<form enctype="multipart/form-data" action="/" method="POST">
	        <input type="file" name="image">
	        <button type="submit"> Submit</button>
	    </form>
	    {% if results %}
	    		<div>
	    			<img src="{{results.image}}" width = "300" height="200">
	    		</div>
	    		<div>
	    			<p>Caption Generated:</p>
	    			<p>{{results.description}}</p>
	    		</div>
	    {% endif %}
	</div>
</body>
</html>